_build/
site/
site-root/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.log

.ipynb_checkpoints/
*.nbconvert.ipynb
*.nb.html
.jupyter/
.profile_default/
*.bak

.vscode/
.idea/
*.code-workspace

.DS_Store
Thumbs.db

.venv/
venv/

node_modules/
package-lock.json
npm-debug.log

*.tar.gz
*.zip
*.tar
*.tgz

*.env